<IfModule mod_rewrite.c>
  RewriteEngine On

  # Saca la extension del archivo si es .php
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteCond %{REQUEST_FILENAME}.php -f 
  RewriteRule ^(.*)$ $1.php 

  # Saca la extension del archivo si es .html 
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html

  # Si la ruta no es una carpeta o un archivo existente, rdirige al index.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA]
</IfModule>